*{
    margin: 0;
    padding:0 ;
    
}
body{
    background-color: rgb(72, 146, 146);
    font-family: initial ;
}
.full-continar{
    width: 1000px;
    background-color: rgb(169, 158, 179);
    margin: 0 auto;

}
.imge{
    width: 90px;
    height: 100px;
    padding: 10px;
    border: 5px solid rgb(169, 158, 179);
    border-radius: 50px ;
    float: left;
    color: black;
}
.header-bio{
    float: left;
    padding: 40px;
}
.contect{
    float: right;
    padding: 30px;
    text-decoration: none;
}
.contect a{
    text-decoration: none;
}
.contect a:hover{
    color: brown;
    text-decoration: underline;


}
.clear-div{
    clear: both;
    padding: 10px;
}
hr{
    border: solid black 2px;
}
   /*-----------header End---------*/


.left-div{
    width: 30%;
    float: left;
    text-align: center;
    
}
.right-div{
    width:70%;
    float: left;
    
}
.left-div2{
    width: 30%;
    float: left;
    text-align: center;

}
.table tr td{
    border: 2px solid green;
    height: 30px;
    text-align: center;
}
.table{
    border-collapse: collapse;

}
.left-div3{
    width: 30%;
    float: left;
    text-align: center;
}
.right-div3{
    width:70%;
    float: left;
}
.width{
    margin: 0 auto;
    width: 200px;
}
.footer a {
    display: block;
    margin: 5px 0;
    text-decoration: none;
    padding-right: 30px;
     
}
.footer{
    float: right;
    text-decoration: none;
    
}
.footer a:hover {
    color: tomato;
}





